<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body{
    background-color: rgb(44, 4, 83);
}

h1{
    font-size: 100px;
    font-family: "Bungee Spice", sans-serif;
    text-align: center;
}
p{
    font-size: 50px;
    text-align: center;
    color: bisque;
    padding: 0 0 15px 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}
.insider{
    height: 100px;
    width: 260px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: darksalmon;
    border: 2px solid white;
    filter: drop-shadow(2px 1px 20px black);
    border-radius: 8px;
=======
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body{
    background-color: rgb(44, 4, 83);
}

h1{
    font-size: 100px;
    font-family: "Bungee Spice", sans-serif;
    text-align: center;
}
p{
    font-size: 50px;
    text-align: center;
    color: bisque;
    padding: 0 0 15px 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}
.insider{
    height: 100px;
    width: 260px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: darksalmon;
    border: 2px solid white;
    filter: drop-shadow(2px 1px 20px black);
    border-radius: 8px;
>>>>>>> e3f8d505a8a93645ede0c2bec9dcd05af3cee105
}