@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    line-height: 1.6;
    background: linear-gradient(45deg, rgb(6, 37, 99), rgb(59, 2, 53));
}
h1{
    font-size: 46px;
    font-weight: bold;
    color: antiquewhite;
    text-align: center;
    margin: 40px 0 35px 0;
}

#search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.search-result{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}
.movie-poster {
    max-width: 100%;
    height: auto;
}
.movie-poster:hover {
    opacity: 0.8;
}
.search-result a{
    height: auto;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 0 0 5px;
    text-transform: capitalize;
}
 a:hover {  /*-->hover krne pr kya effect aaiga */
    text-decoration: underline;
    color: aqua;
}
p{
    display: flex;
    justify-content: start;
    font-size: medium;
    color: #dcd9d9;
    padding: 4px;
    
}
span{
    border: 1px solid white;
    color: black;
    background-color: greenyellow;
    font-size: 13px;
    margin-left: 5px;
    padding: 0 2px;
    font-weight: bold;
}
.btn{
    position: fixed;
    bottom: 35px;
    right: 35px;
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    width: 80px;
    background: #fff;
    border: 3px solid violet;
    display: none;
    justify-content: center;
    align-items: center;
}
.btn img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
@media screen and (max-width: 768px) {  /*--> to make it responsive*/
    .search-results{
        padding: 20px;
    }
    .search-result{
        width: 45%;
    }
}
@media screen and (max-width: 480px) {  /*--> to make it responsive*/
    .search-result{
        width: 100%;
    }
}